{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/materialize.min.css' %}">
  
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
   
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_detail.css' %}">
  
   
   </head>
   
   <body>
 
 <div class="navbar-sticky">
    <nav>
      <div class="nav-wrapper grey darken-4 navbarr">
        <a href="{% url 'home' %}" class="  brand-logo">Yolla</a>
    
      </div>
    </nav>
  </div>
 
 
  <div class="card ">
    <div class="row   cardr">
      <div class="col s12 m12">
        <div class="center-align 
        card-image">
         <h2 class="card-image-text">{{ post.title|slice:":1"}}</h2>
        
          <a href="{{ post.get_absolute_url }}edit" class=" btn-floating  halfway-fab waves-effect waves-light red"><i class=" large material-icons">edit</i></a>
        
        </div>
        </div>
        <div class="main2 col s12 m12">
  <span class="red-text text-lighten-2 cardt card-title">{{ post.title }}</span>
 <div class="">
 <i class="material-icons acctc text-darken-3 grey-text ">account_circle</i> <span class=" grey-text text-darken-1 author">
     {{ post.author }}
 </span>
  </div>
  <div class="divider divv"></div>
        <div class="">
          <p class="cardc">{{ post.content }}
          </p>
        </div>
<div class="cardact card-action">

          <a class="lighten-1 btn-floating icona waves-effect waves-light red"><i class=" large material-icons">date_range</i></a>
<a class="red-text text-lighten-2 date">{{ post.published_date|date:"F d, Y" }}</a>
        </div>
      </div>
    </div>
  </div>
  
  {% if related %}
  <div class=" grey-text text-darken-2 related container center-align">
    <h4 class="headr">
        Related Posts
    </h4>
</div>
  {% for post in related %}
  
  <div class="card ">
    <div class="row  cardr">
      <div class="col s12 m3">
        <div class="center-align 
        card-image">
         <h2 class="card-image-text">{{ post.title|slice:":1" }}</h2>
        
          <a class="hide-on-med-and-up btn-floating  halfway-fab waves-effect waves-light red"><i class=" large material-icons">edit</i></a>
        </div>
        </div>
        <div class="main22 col s12 m9">
  <a href="{{ post.get_absolute_url }}"><span class="red-text text-lighten-2 cardt card-title">{{ post.content|truncatechars:50}}</span></a> 
 <div class="authh">
 <i class="material-icons acctc text-darken-3 grey-text ">account_circle</i> <span class=" grey-text text-darken-1 author">
     {{ post.author }}
 </span>
  </div>
      </div>
    </div>
  </div>
{% endfor %} 
{% endif %}    
  
  <script type='text/javascript' src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'blog/js/materialize.min.js' %}"></script>
  
  
  </body>